.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

\.idea/

jokedisplaylibrary/build/intermediates/

jokedisplaylibrary/build/

backend/build/dev-appserver-out/dev_appserver\.out
